[submodule "common/bash-container-api"]
	path = shared/bash-container-library
	url = git@github.com:matthiasbock/bash-container-library.git
[submodule "common/sdat2img"]
	path = shared/sdat2img
	url = git@github.com:xpirt/sdat2img.git
